<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>I am studying at {{ tempat_kuliah }}</article>
	<article>My hobby is {{ hobi }}</article>
	<article>{{ desc }}</article>
	<img src = "https://scontent-yyz1-1.cdninstagram.com/vp/9ec4b1267a87c2ad5ce974b6652daba0/5C1EC1E8/t51.2885-19/s150x150/35616454_362626150930675_5128621431701110784_n.jpg">
	
	<h2>Hello, he is my right friend named {{ name1 }}</h2>
	<article>NPM : {{ npm1 }}</article>
    <article>He is {{ age1 }} years old</article>
	<article>He is studying at {{ tempat_kuliah1 }}</article>
	<article>His hobby is {{ hobi1 }}</article>
	<article>{{ desc1 }}</article>
	<img src="https://image.ibb.co/fKDrAK/f1.jpg">
	
	<h3>Hello, he is my left friend named {{ name2 }}</h3>
	<article>NPM : {{ npm2 }}</article>
    <article>He is {{ age2 }} years old</article>
	<article>He is studying at {{ tempat_kuliah2 }}</article>
	<article>His hobby is {{ hobi2 }}</article>
	<article>{{ desc2 }}</article>
	<img src="https://www.selasar.com//uploads/users/150731/oBl3MOjSRnPymtsYSrk344vGHReqjj9X.thumb150.jpg">
	
</body>
</html>
